In [7]:
import mysql.connector

In [8]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ED5390E0F0>

In [9]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorixed_user")

In [10]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authorixed_user',)
('e_commerce',)
('gctu_itss_request_app',)
('gctu_maintenance',)
('gctu_software_unit_complaint',)
('gctu_ticketing_system',)
('hello',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('school_management',)
('test',)

In [11]:
mycursor.execute("drop database hello")

In [12]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Authorixed_user"
)
mycursor=mydb.cursor()
mycursor.execute("create table my_table(id int primary key, Name varchar(50), Age int, Address varchar(50))")

In [14]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('my_table',)

In [ ]:
sql="INSERT INTO stu_table(id'name,age) values(%s,%s,%s)"
val = (1,"Raph",22)
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount, "record inserted")