In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016C2EB41040>

In [3]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorized_user")

In [4]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authorized_user',)
('gctu_graduatesch',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [5]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Authorized_user"
)
mycursor=mydb.cursor()
mycursor.execute("create table my_table(id int primary key, Name varchar(50), Age int, ID_No varchar(50))")

In [9]:
mycursor.execute("SHOW TABLES LIKE 'stu_table'")
result = mycursor.fetchone()

# If the table does not exist, create it
if not result:
    create_table_query = """
    CREATE TABLE stu_table (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        age INT NOT NULL,
        address VARCHAR(255) NOT NULL
    )
    """
    mycursor.execute(create_table_query)
    mydb.commit()
    print("Table 'stu_table' created successfully.")

Table 'stu_table' created successfully.

In [13]:
import mysql.connector

# Establish the database connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Authorized_user"
)

mycursor = mydb.cursor()

# Create the attendance table
create_table_query = """
CREATE TABLE attendance (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
"""
mycursor.execute(create_table_query)
mydb.commit()

print("Table 'attendance' created successfully.")

Table 'attendance' created successfully.

In [14]:
sql = "INSERT INTO stu_table (id, name, age) VALUES (%s, %s, %s)"
val = (1, "Raph", 22)
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted")

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'PRIMARY'